#exportPattern("^[[:alpha:]]+")
export(generateBulk)
export(poolcells)
export(testset)
export(criteria.onegroup)
export(estimate.geneprofile)
export(MultiRD.onegroup)
export(MultiRD.predict.prop)
export(reffree.predict.prop)
export(evaluate)
export(pop.ct.prop.subj)
export(pop.ct.prop.scRNA)
import(Biobase)
import(L1pack)
import(cowplot)
import(ggplot2)
importFrom(limSolve,nnls)
importFrom(DescTools,CCC)
import(pheatmap)
import(xbioc)
import(stats)
import(mgcv)
import(reshape2)
import(Rcpp)
